
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
}
ul {
    font-family: 'Roboto';
}
#cross {
  color: rgba(255, 255, 255, 0);
}
#cross:hover {
    color: black;
}